@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.gradient2 {
  background: linear-gradient(90deg, #3338d5 0%, #51cfda 100%);
} 

.bg-heroimage {
  background-image: url("../../public/grass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  /* background-size: 100vw 100vh; */
}

h1{
  @apply font-bold text-3xl
}
h2{
  @apply font-bold text-2xl
}
h3{
  @apply font-bold text-xl
}
h4{
  @apply font-bold text-lg
}
h5{
  @apply font-bold text-base
}
h6{
  @apply font-bold text-base
}

table{
  @apply border border-black
}

th{
  @apply border border-black
}

tr{
  @apply border border-black
}

td{
  @apply border border-black
}

ul {
  @apply list-disc
}

ol {
  @apply list-decimal
}